.img-fluid {
  max-width: 100%;
  height: auto;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.col-sm-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-sm-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-sm-1-pad {
  padding-right: 15px;
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-sm-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-sm-2-pad {
  padding-right: 15px;
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-sm-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-sm-3-pad {
  padding-right: 15px;
  flex: 0 0 auto;
  width: 25%;
}

.col-sm-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-sm-4-pad {
  padding-right: 15px;
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-sm-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-sm-5-pad {
  padding-right: 15px;
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-sm-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-sm-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-sm-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-sm-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-sm-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-sm-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-sm-12 {
  flex: 0 0 auto;
  width: 100%;
}

.experience h2 { border-bottom: 1px solid #ccc;}

.text-center {
  padding-left: 10%;
  padding-top: 10%;
}

.center-pad{
  padding-right: 15px;
  padding-left: 15px;
}

.masonry {
  /* width: 1440px; */
  width: 100%;
  margin: 20px auto;
  columns: 3;
  column-gap: 20px;
}

.item {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 20px;
}

.item img {
  width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1439.98px) {
  .masonry {
    width: 96vw;
    columns: 3;
    column-gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .masonry {
    width: 96vw;
    columns: 2;
    column-gap: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .masonry {
    width: 96vw;
    columns: 1;
  }
}

.pop-img{
  cursor: pointer;
  transition: 0.3s;
}

.pop-img:hover{
  opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); */ /* Fallback color */
  /* background-color: rgba(0,0,0,0.8); */ /* Black w/ opacity */
  background-color: #ebebeb;
  -webkit-animation-name: fade-out;
  -webkit-animation-duration: 0.3s;
  animation-name: fade-out;
  animation-duration: 0.3s;
}

.modal-content {
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 700px;
  max-height: 600px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #bbb;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption { 
  -webkit-animation-name: float-up;
  -webkit-animation-duration: 0.6s;
  animation-name: float-up;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@-webkit-keyframes float-up {
  from {
    -webkit-visibility:hidden;
    -webkit-opacity: 0;
    -webkit-transform: translateY(100px);
  }
  to {
    -webkit-visibility:visible;
    -webkit-opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes float-up {
  from{
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fade-in {
  from {-webkit-opacity:0} 
  to {-webkit-opacity:1}
}

@keyframes fade-in {
  from {opacity:0}
  to {opacity:1}
}

@-webkit-keyframes fade-out {
  from {-webkit-opacity:1;} 
  to {-webkit-opacity:0;}
}

@keyframes fade-out {
  from {opacity:1;}
  to {opacity:0;}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #bbb;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}
